.Bubble-Wrapper {
    position: relative;
    margin: 1rem;
}

.Bubble {
    border-radius: 0.75rem;
    padding: 0.5rem;
}

.Current-User {
    margin-left: 40%;
}
.Current-User .Bubble {
    background: lightgray;
}
.Other-User {
    margin-right: 40%;
}
.Other-User .Bubble {
    background: lightskyblue;
}

.Message-Area {
    width: 100%;
    white-space: pre-wrap;
    /* These two need to be the same! */
    font-size: 0.8rem;
    min-height: 0.8rem;
    overflow-wrap: break-word;
}

.Details-Area {
    position: relative;
    left: 0;
    bottom: 0;
    margin: 0 1rem;
    
    /* FONT */
    color: #535353;
    font-weight: 600;
    font-size: 0.5rem;
}

.Details-Area--From {
    position: absolute;
    left: 0;
}

.Details-Area--Time {
    position: absolute;
    right: 0;
}