
.ChatPageWrapper {
    max-height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.ChatBubblesContainer {
    flex: 1 1 auto;
    overflow: overlay;
}

.ChatInputBoxContainer {
    flex: 0 1 auto;
}